@tailwind base;
@tailwind components;
@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: 100;
    src: url(Fonts/YekanBakh/YekanBakhFaNum-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: 300;
    src: url(Fonts/YekanBakh/YekanBakhFaNum-Light.ttf) format("truetype");
}
@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: 500;
    src: url(Fonts/YekanBakh/YekanBakhFaNum-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: bold;
    src: url(Fonts/YekanBakh/YekanBakhFaNum-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: 900;
    src: url(Fonts/YekanBakh/YekanBakhFaNum-Black.ttf) format("truetype");
}
@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: 900;
    src: url(Fonts/YekanBakh/YekanBakhFaNum-ExtraBlack.ttf) format("truetype");
}
*{
    direction: rtl;
    font-family: "YekanBakh" , Serif;
}

.header-items{
    @apply flex gap-1 text-slate-100 fill-slate-100 cursor-pointer hover:text-red-500 transition-all duration-300 hover:fill-red-500;
}
.shine_animation{
    @apply inline-flex justify-center focus:outline-none focus-visible:outline-none relative before:absolute before:inset-0 before:rounded-[inherit] before:bg-[linear-gradient(90deg,transparent_25%,theme(colors.white/.75)_50%,transparent_75%,transparent_100%)] before:bg-[length:250%_250%,100%_100%] before:bg-[position:-100%_0,0_0] before:bg-no-repeat before:[transition:background-position_0s_ease] hover:before:bg-[position:200%_0,0_0] cursor-pointer hover:before:duration-[1400ms];
}
.mega-tab-menu-items{
    @apply  transition-transform w-full items-center gap-1 flex duration-300 hover:-translate-y-1;
}
.header-item-lists{
    @apply invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all duration-500 absolute bg-defaultColor4 flex-col;
}
.mega-tab-menu-list-items{
    @apply hover:text-blue-500 hover:-translate-x-1 transition-all duration-300;
}
.mega-tab-menu-list{
    @apply absolute invisible group-hover:visible h-[15rem] w-[60rem] right-[224px] text-xs bg-defaultColor6 flex justify-between;
}
.mega-tab-items{
    @apply cursor-pointer w-60 bg-defaultColor6 border-b-2 border-dashed border-slate-400;
}
.slider-pages{
    @apply w-[60rem] h-96 overflow-clip;
}
.slider-button{
    @apply flex p-4 rounded-full bg-defaultColor2 bg-opacity-50 cursor-pointer hover:bg-opacity-100 transition-all duration-300;
}
@tailwind utilities;

