@tailwind base;
@tailwind components;
@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: 100;
    src: url(Fonts/YekanBakh/YekanBakhFaNum-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: 300;
    src: url(Fonts/YekanBakh/YekanBakhFaNum-Light.ttf) format("truetype");
}

@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: 500;
    src: url(Fonts/YekanBakh/YekanBakhFaNum-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: bold;
    src: url(Fonts/YekanBakh/YekanBakhFaNum-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: 900;
    src: url(Fonts/YekanBakh/YekanBakhFaNum-Black.ttf) format("truetype");
}

@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: 900;
    src: url(Fonts/YekanBakh/YekanBakhFaNum-ExtraBlack.ttf) format("truetype");
}

* {
    direction: rtl;
    font-family: "YekanBakh", Serif;
}

.header-items {
    @apply flex gap-1 relative text-slate-100 fill-slate-100 cursor-pointer hover:text-defaultColor6 transition-all duration-300 hover:fill-defaultColor6 items-center after:w-0 hover:after:w-full after:transition-all after:duration-500 after:h-1 after:rounded-full after:bg-defaultColor2 after:absolute after:top-7;
}

.shine_animation {
    @apply inline-flex justify-center focus:outline-none focus-visible:outline-none relative before:absolute before:inset-0 before:rounded-[inherit] before:bg-[linear-gradient(90deg,transparent_25%,theme(colors.white/.75)_50%,transparent_75%,transparent_100%)] before:bg-[length:250%_250%,100%_100%] before:bg-[position:-100%_0,0_0] before:bg-no-repeat before:[transition:background-position_0s_ease] hover:before:bg-[position:200%_0,0_0] cursor-pointer hover:before:duration-[1400ms];
}

.mega-tab-menu-items {
    @apply transition-all text-slate-700 w-full items-center gap-1 flex duration-300 hover:-translate-y-1 hover:text-slate-950;
}

.header-item-lists {
    @apply invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all duration-500 absolute top-10 bg-defaultColor4 flex-col;
}

.mega-tab-menu-list-items {
    @apply hover:text-defaultColor5 hover:-translate-x-1 transition-all duration-300;
}

.mega-tab-menu-list {
    @apply absolute invisible group-hover:visible h-[15rem] w-[60rem] right-[224px] text-xs bg-defaultColor6 flex justify-between;
}

.mega-tab-items {
    @apply cursor-pointer w-60 bg-defaultColor6 border-b-2 border-dashed border-slate-400;
}

.slider-pages {
    @apply w-[80rem] h-96 overflow-clip;
}

.slider-button {
    @apply flex p-4 rounded-full bg-defaultColor2 bg-opacity-50 cursor-pointer hover:bg-opacity-100 transition-all duration-300;
}

.separate {
    @apply w-0.5 h-1/3 rounded-full bg-defaultColor5;
}

.header-connection-svg {
    @apply cursor-pointer duration-500 hover:text-defaultColor5 flex items-center h-full relative after:absolute after:px-2 after:rounded-full justify-center after:top-10 hover:after:-top-3 after:-left-1/2 after:duration-500 after:invisible hover:after:visible after:bg-defaultColor5 after:text-defaultColor4 after:animate-bounce
}

.brand-list{
    @apply size-40 select-none rounded-2xl flex justify-center items-center overflow-hidden;
}
.brands-image{
    @apply size-full select-none grayscale hover:grayscale-0 hover:scale-105 duration-300;
}


@tailwind utilities;

